$base-color: #8823ff;

$header-color: #0f0f10;

$background-1: #0f0f10;
$background-2: #202022;
$background-3: #e3e3e3;
$background-4: #ffffff;
$background-5: rgba( 33, 37, 41 , 0.03);

$font-color-1: #000000;
$font-color-2: #ffffff;

$base-font: 12pt "Montserrat";
$small-font: 9pt "Montserrat";
$subheader-font: 16pt "Montserrat";